html {
  box-sizing: border-box;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-family: "Rubik", sans-serif;
  width: 100%;
}
header .hamburger-icon-open {
  display: none;
  height: 18px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav li,
.header-nav li button {
  font-size: 11px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.header-nav li:hover {
  color: hsl(0, 94%, 66%);
}
.header-nav li button {
  border: solid 2px hsl(0, 94%, 66%);
  background-color: hsl(0, 94%, 66%);
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
}
.header-nav li button:hover {
  background-color: white;
  color: hsl(0, 94%, 66%);
  border: solid 2px hsl(0, 94%, 66%);
}

.hamburger-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: hsla(229, 31%, 21%, 0.9);
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  color: white;
  display: none;
}
.hamburger-menu h2 {
  font-weight: 500;
}
.hamburger-menu .hamburger-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 18px;
}
.hamburger-menu .hamburger-menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
  gap: 0px;
  overflow: hidden;
}
.hamburger-menu .hamburger-menu-list li {
  font-size: 24px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 8px;
  margin: 25px;
  border: 2px solid;
  border-color: hsla(229, 31%, 21%, 0);
}
.hamburger-menu .hamburger-menu-list li:hover {
  border: 2px solid #CCC;
  color: white;
}
.hamburger-menu .hamburger-menu-list li::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: hsl(229, 8%, 60%);
  position: absolute;
  top: -50%;
  left: 0;
}
.hamburger-menu .hamburger-socials {
  margin-top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media all and (max-width: 700px) {
  header {
    padding: 20px 30px;
  }
  header .hamburger-icon-open {
    display: block;
  }
  header .header-nav {
    display: none;
  }
}
.hero-section {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 70px 30px;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  gap: 220px;
}

.hero-text {
  color: hsl(229, 31%, 21%);
  font-weight: 500;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 30px;
}
.hero-text h1 {
  font-size: 36px;
  font-weight: 500;
}
.hero-text p {
  color: hsl(229, 8%, 60%);
}
.hero-text button {
  padding: 10px;
  background-color: white;
  color: hsl(229, 8%, 60%);
  border: 1px solid hsl(229, 8%, 60%);
  border-radius: 5px;
  margin: 5px;
}
.hero-text button:hover {
  color: hsl(231, 69%, 60%);
  border: 1px solid hsl(231, 69%, 60%);
}

.hero-image img {
  border-radius: 16px;
}
.hero-image .hero-img-div {
  position: relative;
  text-align: center;
}
.hero-image .hero-img-div::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 23%;
  z-index: -1;
  height: 80%;
  width: 900px;
  border-radius: 15rem;
  background-color: hsl(231, 69%, 60%);
}

@media all and (max-width: 1275px) {
  .hero-section {
    overflow: hidden;
    gap: 150px;
  }
}
@media all and (max-width: 1035px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
}
.features {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 70px 30px;
  font-family: "Rubik", sans-serif;
  gap: 60px;
}

.features-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  gap: 20px;
}
.features-description h2 {
  font-weight: 500;
}
.features-description p {
  color: hsl(229, 8%, 60%);
}

.features-advantages {
  display: flex;
  width: 60%;
  gap: 5px;
  justify-content: space-between;
}
.features-advantages button {
  padding: 20px 0;
  width: 33%;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 2px solid hsl(229, 8%, 60%);
  letter-spacing: 0.5px;
  font-weight: 500;
}
.features-advantages .button-active {
  border-bottom: 2px solid hsl(0, 94%, 66%);
}

.features-pictures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.features-pictures::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 74%;
  z-index: -1;
  height: 100%;
  width: 900px;
  border-radius: 15rem;
  background-color: hsl(231, 69%, 60%);
}

.features-pictures-image {
  max-height: 346px;
}

.features-pictures-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: left;
  max-width: 50%;
}
.features-pictures-text h2 {
  font-weight: 500;
}
.features-pictures-text p {
  color: hsl(229, 8%, 60%);
  min-height: 66px;
}
.features-pictures-text button {
  padding: 10px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: crosshair;
}

@media all and (max-width: 1150px) {
  .features {
    justify-content: center;
    align-items: center;
  }
  .features-description {
    width: 100%;
  }
  .features-pictures {
    flex-direction: column;
    max-width: none;
    gap: 50px;
  }
  .features-pictures::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 50%;
    z-index: -1;
    height: 52%;
    width: 900px;
    border-radius: 15rem;
    background-color: hsl(231, 69%, 60%);
  }
  .features-pictures-image {
    width: 50%;
    margin: 0 auto;
    max-height: 300px;
  }
  .features-pictures-text {
    width: 100%;
    text-align: center;
    max-width: none;
  }
}
@media all and (max-width: 840px) {
  .features-advantages {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
  }
  .features-advantages button {
    width: 100%;
  }
  .features-pictures::after {
    content: "";
    position: absolute;
    top: 18%;
    right: 50%;
    z-index: -1;
    height: 40%;
    width: 900px;
    border-radius: 15rem;
    background-color: hsl(231, 69%, 60%);
  }
  .features-pictures-image {
    width: 70%;
    min-height: 300px;
  }
}
@media all and (max-width: 460px) {
  .features-pictures::after {
    content: "";
    position: absolute;
    top: 27%;
    right: 50%;
    z-index: -1;
    height: 25%;
    width: 900px;
    border-radius: 15rem;
    background-color: hsl(231, 69%, 60%);
  }
  .features-pictures-image {
    min-height: 250px;
    width: 80%;
  }
}
.extensions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-family: "Rubik", sans-serif;
  gap: 50px;
}

.extensions-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.extensions-text h3 {
  font-weight: 500;
}
.extensions-text p {
  color: hsl(229, 8%, 60%);
}

.extensions-cards-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 450px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 1px 14px 24px -16px rgb(0, 0, 0);
}
.card .browser-logo {
  width: 40%;
}
.card h3 {
  font-weight: 500;
  font-size: 23px;
}
.card p {
  font-size: 14px;
}
.card .card-dots {
  margin: 30px 0 15px 0;
}
.card button {
  padding: 10px 40px;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border-color: hsl(231, 69%, 60%);
  border-radius: 5px;
}
.card button:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  cursor: pointer;
}

.card-chrome {
  align-self: flex-start;
}

.card-firefox {
  align-self: center;
}

.card-opera {
  align-self: end;
}

@media all and (max-width: 1222px) {
  .extensions-text {
    width: 100%;
  }
  .extensions-cards-container {
    height: auto;
  }
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  gap: 50px;
  margin-bottom: 50px;
}
.questions button {
  padding: 15px 25px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: crosshair;
}

.questions-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin-top: 50px;
  text-align: center;
}
.questions-text h2 {
  font-weight: 500;
}

.questions-answers-container {
  text-align: center;
  width: 50%;
}

.question {
  border-top: 1px solid hsl(229, 8%, 60%);
  text-align: left;
}

.question:last-of-type {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}

.question-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 0px;
}
.question-question:hover {
  color: hsl(0, 94%, 66%);
}
.question-question img {
  height: 13px;
}

.question-answer {
  display: none;
  text-align: left;
  padding: 20px 0;
  color: hsl(229, 8%, 60%);
}

.active .question-answer {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

@media all and (max-width: 720px) {
  .questions-answers-container {
    width: 80%;
  }
}
.contact {
  font-family: "Rubik", sans-serif;
  background-color: hsl(231, 69%, 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.contact h4 {
  letter-spacing: 4px;
}

.contact-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  flex-wrap: wrap;
  gap: 10px;
}

.contact-input {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.contact-input input {
  padding: 12px 10px;
  border-radius: 5px 5px 0 0;
  border: 2px solid white;
}
.contact-input input:focus {
  outline: none;
}
.contact-input span {
  color: white;
  visibility: hidden;
  background-color: hsl(0, 94%, 66%);
  font-size: 12px;
  padding: 3px 3px;
  border-radius: 0 0 5px 5px;
}

.contact-btn {
  padding: 14px 15px;
  align-self: flex-start;
  background-color: hsl(0, 94%, 66%);
  border-radius: 3px;
  color: white;
  border: 1px solid hsl(0, 94%, 66%);
  cursor: pointer;
}

.input-error-active {
  border: 2px solid hsl(0, 94%, 66%);
  visibility: visible;
  background-color: hsl(0, 94%, 66%);
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  background-color: hsl(229, 31%, 21%);
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 20px 0;
}

.footer-nav {
  display: flex;
  gap: 10px;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

@media all and (max-width: 450px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .footer-nav {
    flex-direction: column;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.fade-in {
  animation: fade-in 0.8s ease-in-out;
}

.fade-out {
  animation: fade-out 0.8s ease-in-out;
}/*# sourceMappingURL=main.css.map */